<% layout("/layouts/boilerplate.ejs") %>

  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h3>Listing in Detail</h3>
    </div>

    <div class="card col-6 offset-3">
      <img src="<%= listing.image  %>" class="card-img-top show-img" alt="Listing_Image">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= listing.title %></li>
          <li class="list-group-item"><%= listing.description %></li>
          <li class="list-group-item"> &#8377; <%= listing.price.toLocaleString("en-IN") %></li>
          <li class="list-group-item"> <%= listing.location %></li>
          <li class="list-group-item"> <%= listing.country %></li>
        </ul>
      </div>
    </div>

    <div class="btns">
      <a href="/listings/<%= listing._id  %>/edit" class="btn edit-btn col-1 offset-3">Edit</a>
      <br>
      <form method="POST" action="/listings/<%= listing._id  %>?_method=DELETE">
        <button class="btn btn-dark offset-5">Delete</button>
      </form>


    </div>


  </div>